@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ededed;
    text-align: center;
}

h1 {
    text-align: center;
    width: 100vh;
    margin-top: 260px;
    font-size: 50px;
    font-weight: 800;
    color: #333;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #ffa500;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.5s;
}

a:hover {
    background: #fff;
    border: 2px solid #ffa500;
    transition: 0.5s;
    color: #333;
    font-weight: bold;
    letter-spacing: 3px;
}