@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    display: flexbox;
    background: #fff;
    align-items: center;
}

h1{
    margin-top: 35px;
    text-align: center;
}

form {
    width: 700px;
    margin: auto;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    margin-top: 25px;
}

form {
    min-height: 100%;
}

input {
    margin: 15px;
    padding: 10px;
    width: 640px;
    font-size: 18px;
    border: 1px solid #ffa500;
}

input[type="submit"] {
    margin-bottom: 15px;
    margin-top: 5px;
}

textarea {
    margin: 15px;
    padding: 10px;
    width: 640px;
    font-size: 18px;
    resize: none;
    border: 1px solid #ffa500;
    margin-bottom: 5px;
}

button {
    width: 150px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ffa500;
    border-radius: 15px;
    background: #fff;
    color: #444;
    transition: 0.5s;
    cursor: pointer;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 500;
}

button:hover {
    transition: 0.5s;
    background: #ffa500;
    color: #fff;
}

/*FOOTER*/

.footer {
    background: #111;
    color: #ffa500;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    border: 1px solid #ffa500;
    height: 350px;
}

.footer .footer-content .footer-section_about {
    margin-top: 25px;
    margin-left: 25px;
}

.footer .footer-content .footer-section_about a{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    transition: 0.5s;
}

.footer .footer-content .footer-section_about a:hover {
    color: #ffa500;
    transition: 0.5s;
}

.footer .footer-content .footer-section_about p {
    max-width: 750px;
}

.footer-section_links p {
    text-align: center;
}

.footer .footer-bottom {
    background: #222;
    color: #ffa500;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}